<h2>Register</h2>
<form [formGroup]="registrationForm">

  <label> First:
    <input type="text" formControlName="first">
  </label>
  <label> Last:
    <input type="text" formControlName="last">
  </label>
  <label> Email:
    <input type="email" formControlName="email">
  </label>
  <label> Username:
    <input type="text" formControlName="username">
  </label>
  <label> Password:
    <input type="password" formControlName="password">
  </label>
  <label> Confirm Password:
    <input type="password" formControlName="password">
  </label>
</form>
